@import "~bootstrap/dist/css/bootstrap.min.css";

body{
    max-width: 500px;
    margin: auto;
    background-color: lightblue;
}
#like:hover{
    background-color: #FFF;
    color: #007bff;
 
}
